body {
    background-color: rgb(108, 82, 253);
    overflow-x: hidden;
}
.link {
    color: rgb(16, 0, 16);
    font-size: 15pt;
}   
.active {
    color: rgb(236, 236, 236);
    font-weight: bold;
}
