.start {
    background-image: url('./rocknroll.png');
    background-position: center;
    background-size:100%;
    background-repeat: no-repeat;
    min-height: 100vh; 
}
.start h1{
    color:rgb(236, 236, 236);
    background-color: rgba(65, 67, 68, 0.2);
    text-align: center;
    padding: 10px;

 
}
@media (min-width: 768px) {
    .start {
        min-height: calc(100vh - 4rem);
    }
}

.start .btn {
    width: 14rem;
    background-color: rgba(65, 67, 68, 0.2);
}




.start .row {
    margin-top: 60vh;
    padding: 10px;
}

@media (max-width: 575px) {
    .start .row .col-12{
        margin: 2vh 0;
    }

    .start .row {
        margin-top: 35vh;
    }

    .start .row .btn {
        min-width: 15rem;
        font-size: 1rem;
    }    
}

.start .row .btn {
    min-width: calc(100% - 4rem);
    font-size: 1.7vw;
}

.container {
    background-color: grey;
    min-height: 100vh;
}

.container nav.navbar ul.navbar-nav li.nav-item a.active{
    color:rgb(236, 236, 236);
    font-weight: bold;
}

.card-header {
    color: rgb(236, 236, 236);    
}

.card-text {
    text-align: justify;
}

.card-img-bottom {
    max-height: 40vh;
    width: auto;
    max-width: 100%;
    margin: 0 auto;
}

